* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: rgb(36, 40, 75);
  color: rgba(216, 218, 218, 0.872);
  font-family: sans-serif;
}

.cont-1 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-2 {
  width: 500px;
  /* height: 500px; */
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 20px;
  color: rgba(216, 218, 218, 0.872);
  text-align: center;
  /* box-shadow:-5px 5px 30px 20px rgba(222, 236, 228, 0.26); */
}

.cont-3 {
  margin-top: 20px;
  /* background-color: red; */
}

.box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.box-1 {
  /* width: 400px;
    height: 400px; */
  border-radius: 10px;
  /* background-color: rgba(230, 233, 231, 0.5); */
  display: flex;
  justify-content: center;
}

input {
  background-color: rgba(222, 222, 222, 0.797);
  border-radius: 10px 0px 0px 10px;
  border-style: none;
  width: 300px;
  height: 40px;
  margin-bottom: 50px;
  text-align: center;
  color: rgb(0, 0, 0);
  outline: none;
  font-size: medium;
}

button {
  position: relative;
  bottom: 1.5px;
  box-sizing: border-box;
  border-style: none;
  height: 40px;
  width: 80px;
  border-radius: 0px 10px 10px 0px;
  background-color: rgba(29, 33, 43, 0.872);
  color: rgba(216, 218, 218, 0.872);
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: rgba(8, 255, 24, 0.616);
  color: rgba(39, 36, 36, 0.758);
}

.todowrap {
  display: flex;
  justify-content: center;
}

.value {
  width: 380px;
  height: 50px;
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(20, 21, 28, 0.644);
  align-items: center;
  padding: 20px;
  color: rgba(255, 255, 255, 0.804);
  cursor: pointer;
}

.side-box {
  display: flex;
}

.edit {
  margin-right: 10px;
  color: rgba(216, 218, 218, 0.872);
  cursor: pointer;
  transform: scale(1);
  animation: 3s infinite;
}

.trash-box {
  color: rgba(216, 218, 218, 0.872);
  cursor: pointer;
  transform: scale(1);
  animation: 3s infinite;
}

.trash-box:hover {
  transform: scale(1.5);
  color: rgb(250, 31, 31);
}

.edit:hover {
  transform: scale(1.5);
  color: rgb(168, 175, 250);
}

@media (max-width: 600px) {
  .cont-2 {
    width: 70%;
    padding: 10px;
  }

  input {
    width: 65%;
  }

  button {
    width: 35%;
  }

  .value {
    width: 95%;
  }
}
